<div class="modal-header modal-header-blue">
  <button type="button" class="close" data-dismiss="modal" ng-click="close()">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span>
  </button>
  <h4 class="modal-title">String Details</h4>
</div>

<div class="modal-body">
  <form class="form-horizontal" name="editform" novalidate>
    <div class="form-group" class="has-success">
      <label for="Id" class="col-sm-2 control-label">Id</label>
      <div class="col-sm-4">
        <p class="form-control-static" id="Id" name="id">{{selected.id}}</p>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': editform.english.$dirty && editform.english.$error.required, 'has-success': editform.english.$dirty && editform.english.$valid}">
      <label for="English" class="col-sm-2 control-label">English</label>
      <div class="col-sm-9">
        <p class="form-control-static" id="English" name="english" ng-hide="editMode" ng-click="editMode=true">{{selected.english.string}}</p>
        <textarea class="form-control" id="English" name="english" ng-model="temp.english.string" ng-show="editMode" required></textarea>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">Close</button>
  <button type="button" class="btn btn-danger pull-left" ng-click="delete()" ng-hide="editMode" data-dismiss="modal">
    <span class="glyphicon glyphicon-trash"></span>&nbspDelete
  </button>
  <button type="button" class="btn btn-warning" ng-click="revert(editform); editMode = false" ng-show="editMode">Cancel</button>
  <button type="button" class="btn btn-primary" ng-click="edit(editform); editMode = false" ng-show="editMode" ng-disabled="editform.$invalid">Save changes</button>
</div>
